{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block main %}

    <div class="bgc ">
        <img class="registerImg" src="{{ asset('build/img/project_page.png') }}"
             alt="image about us">
    </div>

    <div class="bgc mainTopPadding">
        <h1 class="text-center">{{ project.name | upper }}</h1>

        <div class="container mainTopPadding">
            <div class="row justify-content-around">

                <div class="col-md-5 pt-4 projectPageOutline">
                    <h4 class="text-center">Technologies utilisées</h4>
                    {% for technology in project.ProjectTechnology %}
                        <li>{{ technology }}</li>
                    {% endfor %}
                </div>

                <div class="col-md-5">
                    <h4>Avancement du projet : </h4>
                    <p>....</p>
                </div>

            </div>

            <div class="bgc mainTopPadding">
                <div class="container-fluid">
                    <div class="formRegister">
                        <h4 class="text-center">L'équipe</h4>
                        <div class="row justify-content-around">
                            <div class="col-4">
                                <div class="text-center">
                                    <img class="teamProject rounded-circle"
                                         src="{{ asset('build/img/test_profil.png') }}" alt="test image">
                                </div>
                            </div>
                            <div class="col-4 text-center">
                                <img class="teamProject rounded-circle"
                                     src="{{ asset('build/img/test_profil.png') }}" alt="test image">
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <h2 class="text-center p-4">Details du project</h2>

            <div class="row justify-content-around">
                <div class="col-10">
                    <p class="projectPageOutline p-5">{{ project.details | nl2br }}</p>
                </div>
            </div>




        </div>
    </div>

{% endblock %}
