<div class="card card_bgc">
    <div class="card-header d-flex">
        <div class="col-5">
            <img class="img-thumbnail" src="{{ asset('build/img/test_profil.png') }}" alt="test image">
        </div>
        <div class="col-7 text-center">
            <h4 class="mt-4">{{ app.user.firstName }} {{ app.user.lastname }}</h4>
            <p class="mt-4">{{ app.user.email }}</p>
        </div>
    </div>

    <div class="card-footer col-12">
            <table class="table">
                <tbody>
                <tr>
                    <th scope="col">Compétences</th>
                    <th scope="col">Technologie</th>
                </tr>
                <tr>

                    <td>
                        {% for skill in user.skill %}
                            <li>{{ skill }}</li>
                        {% endfor %}
                    </td>

                    <td>
                        {% for technology in user.technology %}
                            <li>{{ technology }}</li>
                        {% endfor %}
                    </td>

                </tr>
                </tbody>
            </table>
    </div>
</div>